In [1]:
import pandas as pd

In [2]:
df1_raw= pd.read_csv("20140506_Tra.csv", header=None)

In [3]:
df1_raw.columns=["Car Id", "Date", "lot","lat", "Speed", "Direction", "Acc", "operation", "status"]
df1_raw = df1_raw.drop(columns=["Direction", "Acc","operation"]).sort_values("Date")

In [10]:
df_05_06 = df1_raw[df1_raw["Date"].str.startswith("2014-05-06")==True]
df_05_06.shape

(13766065, 6)

In [4]:
df1 = df1_raw

In [5]:
df1.describe

<bound method NDFrame.describe of           Car Id                 Date         lot        lat  Speed  status
3987584    12335  2010-01-01 08:09:03  114.180169  30.612236    316       0
4003790    12335  2010-01-01 08:10:33  114.180169  30.612236    316       0
4653536    12335  2010-01-01 08:10:34  114.133591  30.620098    277       0
4668898    12335  2010-01-01 08:12:04  114.133591  30.620098    277       0
4685213    12335  2010-01-01 08:13:34  114.133591  30.620098    277       0
12636267   12399  2010-01-01 08:22:23  114.144764  30.631893    196       0
12639052   12399  2010-01-01 08:22:43  114.144764  30.631893    196       0
9430230    12393  2010-01-01 08:24:22  114.144080  30.634058     97       0
9434513    12393  2010-01-01 08:24:52  114.144080  30.634058     97       0
9439413    12393  2010-01-01 08:25:22  114.144080  30.634058     97       0
9465466    12393  2010-01-01 08:28:22  114.144098  30.634113     78       0
9473071    12393  2010-01-01 08:28:52  114.144098  30.634113     78       0
9478437    12393  2010-01-01 08:29:22  114.144098  30.634113     78       0
9481739    12393  2010-01-01 08:29:52  114.144098  30.634113     78       0
9484233    12393  2010-01-01 08:30:22  114.144098  30.634113     78       0
9488502    12393  2010-01-01 08:30:52  114.144098  30.634113     78       0
9491984    12393  2010-01-01 08:31:22  114.144098  30.634113     78       0
9498890    12393  2010-01-01 08:31:52  114.144098  30.634113     78       0
9504848    12393  2010-01-01 08:32:22  114.144098  30.634113     78       0
9508920    12393  2010-01-01 08:33:02  114.144098  30.634113     78       0
9516565    12393  2010-01-01 08:33:32  114.144098  30.634113     78       0
9522484    12393  2010-01-01 08:34:02  114.144098  30.634113     78       0
9524882    12393  2010-01-01 08:34:32  114.144098  30.634113     78       0
9527051    12393  2010-01-01 08:35:02  114.144098  30.634113     78       0
9530827    12393  2010-01-01 08:35:32  114.144098  30.634113     78       0
9539609    12393  2010-01-01 08:36:02  114.144098  30.634113     78       0
9544798    12393  2010-01-01 08:36:32  114.144098  30.634113     78       0
9547827    12393  2010-01-01 08:37:02  114.144098  30.634113     78       0
9553028    12393  2010-01-01 08:37:32  114.144098  30.634113     78       0
9577728    12393  2010-01-01 08:40:02  114.141787  30.632662    167       0
...          ...                  ...         ...        ...    ...     ...
13884081    7940  2014-05-07 00:00:00  114.275545  30.489782     28       1
13760082   12225  2014-05-07 00:00:01  114.126347  30.635764    154       0
13764051   12225  2014-05-07 00:00:31  114.126347  30.635764    154       0
13766905   12225  2014-05-07 00:01:01  114.126347  30.635764    154       0
13771849   12225  2014-05-07 00:01:31  114.126347  30.635764    154       0
13776779   12225  2014-05-07 00:02:01  114.126347  30.635764    154       0
13785033   12225  2014-05-07 00:02:31  114.126347  30.635764    154       0
13789878   12225  2014-05-07 00:03:01  114.126347  30.635764    154       0
13794581   12225  2014-05-07 00:03:31  114.126347  30.635764    154       0
13798512   12225  2014-05-07 00:04:01  114.126347  30.635764    154       0
13800972   12225  2014-05-07 00:04:31  114.126347  30.635764    154       0
13806872   12225  2014-05-07 00:05:01  114.126347  30.635764    154       0
13812367   12225  2014-05-07 00:05:31  114.126347  30.635764    154       0
13816432   12225  2014-05-07 00:06:01  114.126347  30.635764    154       0
13820677   12225  2014-05-07 00:06:31  114.126347  30.635764    154       0
13829056   12225  2014-05-07 00:07:01  114.126347  30.635764    154       0
13834009   12225  2014-05-07 00:07:31  114.126347  30.635764    154       0
13837469   12225  2014-05-07 00:08:01  114.126347  30.635764    154       0
13839602   12225  2014-05-07 00:08:31  114.126347  30.635764    154       0
13844356   12225  2014-05-07 00:09:01  114.126347  30.635764    154       0
13850730   12225  2014-05-07 00:09:31  114.126347  30.635764    154       0
13855324   12225  2014-05-07 00:10:01  114.126347  30.635764    154       0
13859600   12225  2014-05-07 00:10:31  114.126347  30.635764    154       0
13868042   12225  2014-05-07 00:11:01  114.126347  30.635764    154       0
13873011   12225  2014-05-07 00:11:31  114.126347  30.635764    154       0
13877646   12225  2014-05-07 00:12:01  114.126347  30.635764    154       0
13876853   12225  2014-05-07 00:12:31  114.126347  30.635764    154       0
13884492   12225  2014-05-07 00:13:01  114.126347  30.635764    154       0
3914891     2061  2014-05-07 06:39:49  114.361882  30.522600    328       0
4407142     8459  2014-05-07 07:31:40  114.337853  30.532185    338       1

[13885746 rows x 6 columns]>

In [6]:
import datetime

In [7]:
# Convert Data column into a datetime datatype
df1["Date"]=pd.to_datetime(df1["Date"])

In [9]:
# Set the datetime column as the index
df1.index = df1['Date']

In [10]:
# Let's take a took at the dataframe
df1.head

<bound method NDFrame.head of                      Car Id                Date         lot        lat  Speed  \
Date
2010-01-01 08:09:03   12335 2010-01-01 08:09:03  114.180169  30.612236    316
2010-01-01 08:10:33   12335 2010-01-01 08:10:33  114.180169  30.612236    316
2010-01-01 08:10:34   12335 2010-01-01 08:10:34  114.133591  30.620098    277
2010-01-01 08:12:04   12335 2010-01-01 08:12:04  114.133591  30.620098    277
2010-01-01 08:13:34   12335 2010-01-01 08:13:34  114.133591  30.620098    277
2010-01-01 08:22:23   12399 2010-01-01 08:22:23  114.144764  30.631893    196
2010-01-01 08:22:43   12399 2010-01-01 08:22:43  114.144764  30.631893    196
2010-01-01 08:24:22   12393 2010-01-01 08:24:22  114.144080  30.634058     97
2010-01-01 08:24:52   12393 2010-01-01 08:24:52  114.144080  30.634058     97
2010-01-01 08:25:22   12393 2010-01-01 08:25:22  114.144080  30.634058     97
2010-01-01 08:28:22   12393 2010-01-01 08:28:22  114.144098  30.634113     78
2010-01-01 08:28:52   12393 2010-01-01 08:28:52  114.144098  30.634113     78
2010-01-01 08:29:22   12393 2010-01-01 08:29:22  114.144098  30.634113     78
2010-01-01 08:29:52   12393 2010-01-01 08:29:52  114.144098  30.634113     78
2010-01-01 08:30:22   12393 2010-01-01 08:30:22  114.144098  30.634113     78
2010-01-01 08:30:52   12393 2010-01-01 08:30:52  114.144098  30.634113     78
2010-01-01 08:31:22   12393 2010-01-01 08:31:22  114.144098  30.634113     78
2010-01-01 08:31:52   12393 2010-01-01 08:31:52  114.144098  30.634113     78
2010-01-01 08:32:22   12393 2010-01-01 08:32:22  114.144098  30.634113     78
2010-01-01 08:33:02   12393 2010-01-01 08:33:02  114.144098  30.634113     78
2010-01-01 08:33:32   12393 2010-01-01 08:33:32  114.144098  30.634113     78
2010-01-01 08:34:02   12393 2010-01-01 08:34:02  114.144098  30.634113     78
2010-01-01 08:34:32   12393 2010-01-01 08:34:32  114.144098  30.634113     78
2010-01-01 08:35:02   12393 2010-01-01 08:35:02  114.144098  30.634113     78
2010-01-01 08:35:32   12393 2010-01-01 08:35:32  114.144098  30.634113     78
2010-01-01 08:36:02   12393 2010-01-01 08:36:02  114.144098  30.634113     78
2010-01-01 08:36:32   12393 2010-01-01 08:36:32  114.144098  30.634113     78
2010-01-01 08:37:02   12393 2010-01-01 08:37:02  114.144098  30.634113     78
2010-01-01 08:37:32   12393 2010-01-01 08:37:32  114.144098  30.634113     78
2010-01-01 08:40:02   12393 2010-01-01 08:40:02  114.141787  30.632662    167
...                     ...                 ...         ...        ...    ...
2014-05-07 00:00:00    7940 2014-05-07 00:00:00  114.275545  30.489782     28
2014-05-07 00:00:01   12225 2014-05-07 00:00:01  114.126347  30.635764    154
2014-05-07 00:00:31   12225 2014-05-07 00:00:31  114.126347  30.635764    154
2014-05-07 00:01:01   12225 2014-05-07 00:01:01  114.126347  30.635764    154
2014-05-07 00:01:31   12225 2014-05-07 00:01:31  114.126347  30.635764    154
2014-05-07 00:02:01   12225 2014-05-07 00:02:01  114.126347  30.635764    154
2014-05-07 00:02:31   12225 2014-05-07 00:02:31  114.126347  30.635764    154
2014-05-07 00:03:01   12225 2014-05-07 00:03:01  114.126347  30.635764    154
2014-05-07 00:03:31   12225 2014-05-07 00:03:31  114.126347  30.635764    154
2014-05-07 00:04:01   12225 2014-05-07 00:04:01  114.126347  30.635764    154
2014-05-07 00:04:31   12225 2014-05-07 00:04:31  114.126347  30.635764    154
2014-05-07 00:05:01   12225 2014-05-07 00:05:01  114.126347  30.635764    154
2014-05-07 00:05:31   12225 2014-05-07 00:05:31  114.126347  30.635764    154
2014-05-07 00:06:01   12225 2014-05-07 00:06:01  114.126347  30.635764    154
2014-05-07 00:06:31   12225 2014-05-07 00:06:31  114.126347  30.635764    154
2014-05-07 00:07:01   12225 2014-05-07 00:07:01  114.126347  30.635764    154
2014-05-07 00:07:31   12225 2014-05-07 00:07:31  114.126347  30.635764    154
2014-05-07 00:08:01   12225 2014-05-07 00:08:01  114.126347  30.635764    154
2014-05-07 00:08:31   12225 2014-05-07 00:08:31  114.126347  30.635764    154
2014-05-07 00:09:01   12225 2014-05-07 00:09:01  114.126347  30.635764    154
2014-05-07 00:09:31   12225 2014-05-07 00:09:31  114.126347  30.635764    154
2014-05-07 00:10:01   12225 2014-05-07 00:10:01  114.126347  30.635764    154
2014-05-07 00:10:31   12225 2014-05-07 00:10:31  114.126347  30.635764    154
2014-05-07 00:11:01   12225 2014-05-07 00:11:01  114.126347  30.635764    154
2014-05-07 00:11:31   12225 2014-05-07 00:11:31  114.126347  30.635764    154
2014-05-07 00:12:01   12225 2014-05-07 00:12:01  114.126347  30.635764    154
2014-05-07 00:12:31   12225 2014-05-07 00:12:31  114.126347  30.635764    154
2014-05-07 00:13:01   12225 2014-05-07 00:13:01  114.126347  30.635764    154
2014-05-07 06:39:49    2061 2014-05-07 06:39:49  114.361882  30.522600    328
2014-05-07 07:31:40    8459 2014-05-07 07:31:40  114.337853  30.532185    338

                     status
Date
2010-01-01 08:09:03       0
2010-01-01 08:10:33       0
2010-01-01 08:10:34       0
2010-01-01 08:12:04       0
2010-01-01 08:13:34       0
2010-01-01 08:22:23       0
2010-01-01 08:22:43       0
2010-01-01 08:24:22       0
2010-01-01 08:24:52       0
2010-01-01 08:25:22       0
2010-01-01 08:28:22       0
2010-01-01 08:28:52       0
2010-01-01 08:29:22       0
2010-01-01 08:29:52       0
2010-01-01 08:30:22       0
2010-01-01 08:30:52       0
2010-01-01 08:31:22       0
2010-01-01 08:31:52       0
2010-01-01 08:32:22       0
2010-01-01 08:33:02       0
2010-01-01 08:33:32       0
2010-01-01 08:34:02       0
2010-01-01 08:34:32       0
2010-01-01 08:35:02       0
2010-01-01 08:35:32       0
2010-01-01 08:36:02       0
2010-01-01 08:36:32       0
2010-01-01 08:37:02       0
2010-01-01 08:37:32       0
2010-01-01 08:40:02       0
...                     ...
2014-05-07 00:00:00       1
2014-05-07 00:00:01       0
2014-05-07 00:00:31       0
2014-05-07 00:01:01       0
2014-05-07 00:01:31       0
2014-05-07 00:02:01       0
2014-05-07 00:02:31       0
2014-05-07 00:03:01       0
2014-05-07 00:03:31       0
2014-05-07 00:04:01       0
2014-05-07 00:04:31       0
2014-05-07 00:05:01       0
2014-05-07 00:05:31       0
2014-05-07 00:06:01       0
2014-05-07 00:06:31       0
2014-05-07 00:07:01       0
2014-05-07 00:07:31       0
2014-05-07 00:08:01       0
2014-05-07 00:08:31       0
2014-05-07 00:09:01       0
2014-05-07 00:09:31       0
2014-05-07 00:10:01       0
2014-05-07 00:10:31       0
2014-05-07 00:11:01       0
2014-05-07 00:11:31       0
2014-05-07 00:12:01       0
2014-05-07 00:12:31       0
2014-05-07 00:13:01       0
2014-05-07 06:39:49       0
2014-05-07 07:31:40       1

[13885746 rows x 6 columns]>

In [13]:
# Group dataframe by year, and take the sum for each group (i.e. each year)
df1.resample('Y').sum()

                 Car Id           lot           lat       Speed   status
Date
2010-12-31      5847635  5.387093e+04  1.445768e+04       51732       17
2011-12-31       145815  2.857061e+03  7.644306e+02        6794        8
2012-12-31            0  0.000000e+00  0.000000e+00           0        0
2013-12-31            0  0.000000e+00  0.000000e+00           0        0
2014-12-31  80894984688  1.586940e+09  4.245515e+08  1322505037  5401921

In [14]:
# Group dataframe by month, and take the sum for each group (i.e. each month)
df1.resample('M').sum()

                 Car Id           lot           lat       Speed   status
Date
2010-01-31      5847635  5.387093e+04  1.445768e+04       51732       17
2010-02-28            0  0.000000e+00  0.000000e+00           0        0
2010-03-31            0  0.000000e+00  0.000000e+00           0        0
2010-04-30            0  0.000000e+00  0.000000e+00           0        0
2010-05-31            0  0.000000e+00  0.000000e+00           0        0
2010-06-30            0  0.000000e+00  0.000000e+00           0        0
2010-07-31            0  0.000000e+00  0.000000e+00           0        0
2010-08-31            0  0.000000e+00  0.000000e+00           0        0
2010-09-30            0  0.000000e+00  0.000000e+00           0        0
2010-10-31            0  0.000000e+00  0.000000e+00           0        0
2010-11-30            0  0.000000e+00  0.000000e+00           0        0
2010-12-31            0  0.000000e+00  0.000000e+00           0        0
2011-01-31            0  0.000000e+00  0.000000e+00           0        0
2011-02-28            0  0.000000e+00  0.000000e+00           0        0
2011-03-31            0  0.000000e+00  0.000000e+00           0        0
2011-04-30            0  0.000000e+00  0.000000e+00           0        0
2011-05-31       141622  2.742846e+03  7.338257e+02        6794        8
2011-06-30            0  0.000000e+00  0.000000e+00           0        0
2011-07-31         4193  1.142147e+02  3.060486e+01           0        0
2011-08-31            0  0.000000e+00  0.000000e+00           0        0
2011-09-30            0  0.000000e+00  0.000000e+00           0        0
2011-10-31            0  0.000000e+00  0.000000e+00           0        0
2011-11-30            0  0.000000e+00  0.000000e+00           0        0
2011-12-31            0  0.000000e+00  0.000000e+00           0        0
2012-01-31            0  0.000000e+00  0.000000e+00           0        0
2012-02-29            0  0.000000e+00  0.000000e+00           0        0
2012-03-31            0  0.000000e+00  0.000000e+00           0        0
2012-04-30            0  0.000000e+00  0.000000e+00           0        0
2012-05-31            0  0.000000e+00  0.000000e+00           0        0
2012-06-30            0  0.000000e+00  0.000000e+00           0        0
2012-07-31            0  0.000000e+00  0.000000e+00           0        0
2012-08-31            0  0.000000e+00  0.000000e+00           0        0
2012-09-30            0  0.000000e+00  0.000000e+00           0        0
2012-10-31            0  0.000000e+00  0.000000e+00           0        0
2012-11-30            0  0.000000e+00  0.000000e+00           0        0
2012-12-31            0  0.000000e+00  0.000000e+00           0        0
2013-01-31            0  0.000000e+00  0.000000e+00           0        0
2013-02-28            0  0.000000e+00  0.000000e+00           0        0
2013-03-31            0  0.000000e+00  0.000000e+00           0        0
2013-04-30            0  0.000000e+00  0.000000e+00           0        0
2013-05-31            0  0.000000e+00  0.000000e+00           0        0
2013-06-30            0  0.000000e+00  0.000000e+00           0        0
2013-07-31            0  0.000000e+00  0.000000e+00           0        0
2013-08-31            0  0.000000e+00  0.000000e+00           0        0
2013-09-30            0  0.000000e+00  0.000000e+00           0        0
2013-10-31            0  0.000000e+00  0.000000e+00           0        0
2013-11-30            0  0.000000e+00  0.000000e+00           0        0
2013-12-31            0  0.000000e+00  0.000000e+00           0        0
2014-01-31            0  0.000000e+00  0.000000e+00           0        0
2014-02-28            0  0.000000e+00  0.000000e+00           0        0
2014-03-31        10010  5.711114e+02  1.529794e+02           0        0
2014-04-30        42042  2.398667e+03  6.425146e+02         352        0
2014-05-31  80894932636  1.586937e+09  4.245507e+08  1322504685  5401921